.tab {
  border-bottom:1px solid $color-border;
}

.tab button {
  background-color:transparent;
  border:0;
  border-bottom:2px solid transparent;
  padding: 12px 5px;
  font-weight: 600;
  @media screen and (min-width: 768px) {
    padding: 12px 10px;
  }

  &.selected, &:focus, &:hover {
    border-bottom:2px solid $color-ui-link;
    color: $color-ui-link;
  }

}

.tab button sup {
  top: -2px;
}
